<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Success</title>
</head>
<body>
    <p style="text-align: center; padding: 5px 10px;">An email has been sent to your email address for verification.
    </p>
    <p style="text-align: center; padding: 5px 10px;">Please check your inbox and follow the instructions in the email
      to complete the verification process.</p>
</body>
</htm